<!-- infinite scroll 방식일 때 post 처리 방식 -->
<% if params["bulletin_id"].to_i == Bulletins::GALLERY %>
  <%= link_to [post.bulletin, post] do %>
    <div class='post grid-item'>
      <div class="post-title">
        <%= post.title %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
      <div class='image'><%= image_tag(post.picture_url(:thumb)) if post.picture? %></div>
    </div>
  <% end %>
<% else %>
  <!-- tag 검색 될 때 post 처리 방식 -->
  <li>
    <span class='label label-default'><%= post.try(:bulletin).try(:title) %></span>
    <%= link_to post.title, [post.bulletin, post] %>
    <%= time_ago_in_words(post.created_at) %> ago
    <%= fa_icon('tags') + ' ' + tag_icons(post.tag_list) %>
  </li>
<% end %>