<!-- 웹 페이지 전체에 일관적인 모습을 적용하려면 application.html.erb 을 수정한다. -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Google Auth Example App</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>
  <!--<div class="container">
    <%#= video_tag "PUBG_INTRO_END.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  </div>-->
  <!-- Fixed navbar -->
  <!-- div tag 는 페이지에서 논리적인 구분을 정의하는데 사용되는 태그이다.
       가상의 레이아웃을 설계하기 위히 사용되며 페이지의 레이아웃을 구분한다. -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="/">Rails<i>Cafe2</i></a>-->
        <%= link_to raw("PJHDEV<i>_BLOG</i>"), root_path, class:'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= params[:bulletin_id].to_i == Bulletins::NOTICE ? 'active' : '' %>"><%= link_to I18n.t("bulletin.n#{Bulletins::NOTICE}"), bulletin_posts_path(Bulletins::NOTICE) %></li>
          <li class="<%= params[:bulletin_id].to_i == Bulletins::CHAT ? 'active' : '' %>"><%= link_to I18n.t("bulletin.n#{Bulletins::CHAT}"), bulletin_posts_path(Bulletins::CHAT) %></li>
          <li class="<%= params[:bulletin_id].to_i == Bulletins::GALLERY ? 'active' : '' %>"><%= link_to I18n.t("bulletin.n#{Bulletins::GALLERY}"), bulletin_posts_path(Bulletins::GALLERY) %></li>
          <% if current_user %>
            <li ><%= link_to "Sign Out", signout_path, id: "sign_out", :method => :post %></li>
          <% else %>
            <li ><%= link_to "SNS LOGIN", login_index_path, :method => :get %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container">
    <!-- flash message 표시 -->
    <%= render partial: "shared/flash_messages", flash: flash %>
    <!-- 아래의 yield 부분에 각 컨트롤러에서 실행된 action 의 결과가 html 로 렌더링 된 후 삽입된다. -->
    <%= yield %>
  </div>
  </body>
</html>